<!DOCTYPE html>
<html lang="en">
    <head>
    
        <title>Product Categories</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body background="/static/image/amazon2.jpg"></body>
    <center>
        <h1 id ="heading"><u> PRODUCT CATEGORIES </u></h1> <br><br>
        
        
            <p id="cat0"> 0-Blouse</p>
            <p id="cat1"> 1-Bottom</p>
            <p id="cat2"> 2-Dupatta</p>
            <p id="cat3"> 3-Ethnic Dress</p>
            <p id="cat4"> 4-Saree</p>
            <p id="cat5"> 5-Set</p>
            <p id="cat6"> 6-Top</p>
            <p id="cat7"> 7-Western Dress</p>
            <p id="cat8"> 8-Kurta</p>
        
    

        <br><br>
    <a href='/'> Back </a>
    </center>
</body>
</html